// variables

// Color
$white: #fff;
$light-white: #f2f4f5;
$coral: #ff7f50;
$steelblue: #4682b4;
$gray: #808080;
$smoky-black: #0c0910;
$light-pink: #ffb6c1;
$light-green: #90ee90;
$limon: #9acd32;
$light-orange: #ffa07a;

// Typography
$rmono: 'Roboto Mono', monospace;

// Font Weight
$light: 300;
$regular: 400;
$bold: 700;

// Font Sizes
$xxx-large: 40px;
$xx-large: 25px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;