@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");
body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  color: #0c0910;
}

a {
  text-decoration: none;
  color: #0c0910;
  font-weight: 700;
}

p {
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  line-height: 1;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body * {
  margin: 0;
  padding: 0;
  border: 0;
}

.about {
  display: none;
}

@media only screen and (min-width: 768px) {
  .about {
    display: block;
    padding: 1rem 2rem 1rem 0;
  }
  .about h2 {
    margin-bottom: 0.5rem;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #f2f4f5;
}
.nav__content {
  display: flex;
  align-items: center;
}
.nav__item {
  padding-left: 1rem;
}
.nav__hide-item {
  display: none;
}
.nav__input-container {
  display: flex;
}
.nav__input-field {
  width: 80px;
  padding: 0.5rem;
  outline: none;
}

.nav__icon {
  padding: 0.7rem 0rem;
  background: #0c0910;
  color: #fff;
  min-width: 40px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .nav__logo {
    font-size: 25px;
  }

  .nav__hide-item {
    display: inline;
  }

  .nav__input-field {
    width: 100%;
  }
}
.footer {
  text-align: center;
}
.footer__newsletter {
  background: #f2f4f5;
  padding: 3rem 1.5rem;
}
.footer__newsletter p {
  padding: 1rem 0;
}
.footer__copy {
  padding: 1rem;
}
.footer__copy p {
  font-size: 14px;
}
.footer__input-container {
  display: flex;
  justify-content: center;
}
.footer__input-field {
  width: 100%;
  padding: 0.5rem;
  outline: none;
}
.footer__btn {
  padding: 0.7rem 1rem;
  background: #ff7f50;
  color: #fff;
  text-align: center;
  border: none;
}

@media only screen and (min-width: 768px) {
  .footer__input-field {
    width: 50%;
  }

  .footer__btn {
    padding: 0.7rem 1rem;
    background: #ff7f50;
    color: #fff;
    text-align: center;
    border: none;
  }
}
@media only screen and (min-width: 992px) {
  .footer__input-field {
    width: 25%;
  }
}
.highlight {
  display: none;
}

@media only screen and (min-width: 768px) {
  .highlight {
    display: block;
    padding: 1rem 2rem 1rem 0;
  }
  .highlight h2 {
    margin-bottom: 0.5rem;
  }
  .highlight__items {
    display: grid;
    justify-content: flex-start;
    grid-row-gap: 1rem;
  }
  .highlight__item h4 {
    margin-bottom: 0.5rem;
  }
  .highlight__item img {
    width: 100%;
    height: auto;
  }
}
.news {
  display: grid;
}

.article {
  padding: 1rem;
  border-bottom: 1px solid #f2f4f5;
}
.article__header {
  margin-bottom: 0.5rem;
}
.article__content img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}
.article__content p {
  margin-top: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .news {
    padding: 1rem 2rem;
    grid-template-columns: auto auto;
    gap: 1.5rem 2rem;
  }

  .article {
    padding: 0;
    border-bottom: none;
  }
  .article__content img {
    object-fit: cover;
    height: 45vh;
  }
}
@media only screen and (min-width: 992px) {
  .news {
    grid-template-columns: auto auto auto;
  }
}
.tags {
  display: none;
}

@media only screen and (min-width: 768px) {
  .tags {
    display: block;
    padding: 1rem 2rem 1rem 0;
  }
  .tags h2 {
    margin-bottom: 0.5rem;
  }
  .tags__pills {
    display: flex;
    flex-wrap: wrap;
  }
  .tags__pills span {
    font-size: 14px;
    text-align: center;
    border: 1px solid #f2f4f5;
    border-radius: 18px;
    padding: 0.3rem 0.8rem;
    margin-right: 0.3rem;
    margin-top: 0.3rem;
  }
  .tags__pills span.viajes {
    background: #4682b4;
  }
  .tags__pills span.noticias {
    background: #ffa07a;
  }
  .tags__pills span.comida {
    background: #9acd32;
  }
  .tags__pills span.deporte {
    background: #90ee90;
  }
  .tags__pills span.espectaculos {
    background: #ffb6c1;
  }
}
.nav {
  grid-area: nav;
}

.news {
  grid-area: news;
}

.about {
  grid-area: about;
}

.tags {
  grid-area: tags;
}

.highlight {
  grid-area: highlight;
}

.footer {
  grid-area: footer;
}

@media only screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: auto 20vw;
    grid-template-rows: auto;
    grid-template-areas: "nav nav" "news about" "news tags" "news highlight" "footer footer";
  }
}

/*# sourceMappingURL=style.css.map */
